<section class="footer">
    <div class="container">

        {{ if .Site.Params.githubRepo }}
        <div class="copyright">
            <a href="https://github.com/{{ .Site.Params.githubRepo }}/tree/master/content/{{ .File.Path }}" target="_blank">View this post on GitHub</a>
        </div>
        {{ end }}

        <div class="copyright">

        {{ if .Site.Params.copyright }}
            {{ if .Site.Params.copyrightUrl }}
                <a href="{{ .Site.Params.copyrightUrl }}">{{ .Site.Params.copyright }}</a>
            {{ else }}
                <a>{{ .Site.Params.copyright }}</a>
            {{ end }}
        {{ end }}

        </div>
        <div class="icons">

        {{ if .Site.Params.itch }}
            <a href="https://{{ .Site.Params.itch }}.itch.io/" target="_blank">
                itch.io
            </a>
        {{ end }}
        
        {{ if .Site.Params.facebook }}
            <a href="https://facebook.com/{{ .Site.Params.facebook }}" target="_blank">
                facebook
            </a>
        {{ end }}

        {{ if .Site.Params.github }}
            <a href="https://github.com/{{ .Site.Params.github }}" target="_blank">
                github
            </a>
        {{ end }}

        {{ if .Site.Params.twitter }}
            <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">
                twitter
            </a>
        {{ end }}

        {{ if .Site.Params.linkedin }}
            <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
                linkedin
            </a>
        {{ end }}

        {{ if .Site.Params.soundcloud }}
            <a href="https://www.soundcloud.com/{{ .Site.Params.soundcloud }}" target="_blank">
                soundcloud
            </a>
        {{ end }}
            
        {{ if .Site.Params.email }}
            <a href="mailto:{{ .Site.Params.email }}">
                email
            </a>
        {{ end }}

        {{ if .Site.RSSLink }}
            <a href="{{ .Site.RSSLink }}">
                rss
            </a>
        {{ end }}

        </div>
    </div>
</section>

{{ partial "footer_scripts" . }}

</body>
</html>
